:root {
    --main-color: #2874f0;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

.main-color {
    color: var(--main-color);
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(235, 235, 235);
    overflow: auto;

}


/* Header styling */

header {
    position: sticky;
    top: 0;
    z-index: 2;
}

nav {
    height: 55px;
    background-color: var(--main-color);
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.3);
    z-index: 2;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.logodiv {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    height: 27px;
    width: 152px;
}

nav img.logo {
    width: 55%;
    margin: 5px;

}

nav img.plus {
    width: 13%;
}

header nav form input[type=button].search-b {
    height: 27px;
    padding: 0 10px;
    background: none;
    border: 2px solid white;
    color: white;

}

.searchbar {
    position: relative;
}

form {

    display: inline-flex;
    align-items: center;

}

form input[type=text] {
    height: 32px;
    width: 30vw;
    padding: 0 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);

}

header nav .login-b {
    height: 27px;
    width: 6vw;
    padding: 0 10px;
    margin: 0 15px;
    border: 0;
    background-color: #fff;
    font-size: 1rem;
}

.gg-search {
    position: absolute;
    z-index: 1;
    right: -4px;

}

nav ul li {
    display: inline-flex;
    align-items: center;
    list-style: none;
    margin: 0 10px;
    color: white;
}

@media screen and (min-width:720px) and (max-width:1020px) {

    header nav .login-b {
        height: 27px;
        width: 6vw;
        padding: 0 auto;
        margin: 0 15px;
        border: 0;
        background-color: #fff;
        font-size: 11px;
    }
    .dealofday .deal-body {

        width: 100%;
        overflow-x: scroll;
        scrollbar-width: thin;
        scrollbar-color: white white;
        background-color: rgb(255, 255, 255);
        display: inline-flex;
        padding: 20px;
        box-sizing: border-box;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }


}

@media screen and (max-width:720px) {

   .main-container .catagory {
        width: 100%;
        height: 150px;
        background-color: rgb(255, 255, 255);
        box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.1);
        display: inline-flex;
        padding: 0 60px;
        box-sizing: border-box;
        overflow-x: scroll;
        scrollbar-width: thin;
        scrollbar-color: white white;
        justify-content: flex-start;

    }

    nav {
        height: 110px;
        background-color: var(--main-color);
        box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.3);
        z-index: 2;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-template-areas:
            "hd . hdl"
            "ft ft ft ";
        /* justify-content: center;
    align-items: center; */
        width: 100%;

    }

    .logodiv {
        display: inline-flex;
        align-items: flex-start;
        justify-content: center;
        height: 27px;
        width: 152px;
        /* grid-column: 1;
    grid-row: 1; */
        justify-self: start;
        grid-area: hd;
        /* background-color: rgb(255, 0, 0); */
    }

    nav img.logo {
        width: 55%;
        margin: 5px;

    }

    nav img.plus {
        width: 13%;
    }

    header nav form input[type=button].search-b {
        height: 27px;
        padding: 0 10px;
        background: none;
        border: 2px solid white;
        color: white;


    }

    .searchbar {
        position: relative;
        /* grid-column: 1 / 4;
    grid-row: 2; */
        grid-area: ft;
        justify-self: center;
        width: 100vw;
        display: flex;
        justify-content: center;
        /* background-color: rgb(255, 0, 0); */
    }

    form {
        width: 95vw;
        display: inline-flex;
        align-items: center;

    }

    form input[type=text] {
        height: 32px;
        width: 100%;
        padding: 0 10px;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);

    }

    header nav .login-b {
        height: 27px;
        width: 60px;
        padding: 0 10px;
        margin: 0 15px;
        border: 0;
        background-color: #fff;
        font-size: 1rem;
        /* grid-column: 3;
    grid-row: 1; */
        grid-area: hdl;
        justify-self: end;
        text-align: center;

    }

    .gg-search {
        position: absolute;
        z-index: 1;
        right: 10px;

    }

    nav ul li {
        display: none;
        align-items: center;
        list-style: none;
        margin: 0 10px;
        color: white;
    }

   .dealofday .deal-body {

        width: 100%;
        overflow-x: scroll;
        scrollbar-width: thin;
        scrollbar-color: white white;
        background-color: rgb(255, 255, 255);
        display: inline-flex;
        padding: 20px;
        box-sizing: border-box;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

}

/* Header :end */

/* Main Content */

.main-container {
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

/* Catagory box  */

.catagory {
    width: 100%;
    height: 150px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    padding: 0 60px;
    box-sizing: border-box;
    justify-content: center;


}

.cat-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;

}

.cat-item img {
    width: 74px;
}

/* Catagory Box End  */

/* Banner Start  */
.banner {
    width: 98%;
    height: 280px;
    background-image: url("image/banner.webp");
    background-size: cover;
    background-position: center;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    margin: 20px auto;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

div.left-b {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

div.right-b {
    display: flex;
    flex: 1;
    justify-content: flex-end;

}

.left-btn {
    border: 0;
    border-radius: 0 5px 5px 0;
    height: 5rem;
    width: 2.5rem;
    display: inline-block;
    text-align: center;
    padding-left: 0.4rem;
    background-color: #fff;
}

.right-btn {
    border: 0;
    border-radius: 5px 0 0 5px;
    height: 5rem;
    width: 2.5rem;
    display: block;
    text-align: center;
    padding-left: 0.4rem;
    background-color: #fff;

}

/* Banner End  */

/* Deal of the day Start */
.dealofday {
    width: 98%;
    height: fit-content;
    background-color: #fff;
    background-size: cover;
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    box-sizing: border-box;

    position: relative;

}

.deal-head {
    border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
    padding: 20px;
    display: flex;
    align-items: center;
}

.deal-more {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.deal-more-btn {
    border: 0;
    border-radius: 0;
    background-color: var(--main-color);
    color: #fff;
    padding: 7px 20px;
    box-shadow: 3px 3px 10px rgba(18, 34, 110, 0.266)
}

.deal-body {

    width: 100%;
    overflow : hidden;
    /* overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: white white; */
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.deal-item {
    /* background-color: aqua; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.deal-img {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;

}

.deal-item .discount {
    color: rgb(0, 128, 41);
    font-size: 0.8rem;
    margin: 5px 0;
}

.deal-item p {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.7);
}

.deal-img img {
    max-width: 150px;
    max-height: 150px;
    padding-bottom: 15px;
}

.details {
    width: 98%;
    height: auto;
    background-color: #fff;
    background-size: cover;
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.1);
    display: block;
    flex-direction: column;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
}

.details h1,
h2 {

    font-size: 16px;
    color: #7e7e7e;

}

.details {
    font-size: 14px;
    color: #9a9a9a;
}

.lastdiv {
    height: fit-content;
    background-color: #212121;
    /* box-shadow: 10px 0px 20px rgba(0,0,0,0.3); */
    /* z-index: 1; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    color: white;
    padding: 20px 40px;
}

.lastdiv li {
    justify-content: flex-start;
    list-style: none;
    margin: 10px 10px;
    color: white;
    font-size: 14px;
}

.address {
    justify-content: flex-start;
    color: #fff;
    font-size: 12px;

}

/* Footer Start  */
footer {
    height: 55px;
    background-color: #212121;
    /* box-shadow: 10px 0px 20px rgba(0,0,0,0.3); */
    /* z-index: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    border-top: 1px rgb(96, 96, 96) solid;


}

footer p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 200;
}
