.br-1 {
    border-radius: 0px;
}

.b-0 {
    border: 0;
}

.m-15 {
    margin: 0 15px;
}

.mt-80{
    margin-top: 80px;
}
nav ul {
    display: inline-flex;
    align-items: center;
}



nav ul li i {
    margin: 0 3px;
}

nav ul li:hover {
    cursor: pointer;
}

nav input[type=button]{
    cursor: pointer;
}

.point{
    cursor: pointer;
}